:root {
    --principal-color: #4F000B;
    --second-color: #FFFFFF;
    --third-color: #111111;
    --fourth-color: #720026;
    --fifth-color: #C2C2C2;
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--third-color);
    overflow-x: hidden;
    margin: 0;
}

.input {
    width: 70%;
    border: .1rem solid var(--third-color);
    border-radius: 5px;
    padding: 12px 18px;

    @media screen and (max-width: 425px) {
        width: 40%;
    }
}